{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='style/config.css')}}">
{% endblock %}

{% block search %}
{% endblock %}

{% block main %}
<div class="main-text">CONFIGURAÇÕES</div>
<div class="card-box card-box-profile">  
    <div class="card-img">
        <span class="material-icons-round extra-big-icon">account_circle</span>
    </div>
    <div class="card-div-right">
        <div class="texts">
        <h4>NOME COMPLETO</h4>
        <h2>José Almeida Dos Santos</h2>
        <h4>FUNÇÃO</h4>
        <p>Secretaria</p>
        </div>
        <div class="button-img">
        <button class="btn btn-full">
            <span class="material-icons-round">image</span>
            <p>Mudar Imagem</p>
        </button>
        </div>
    </div>
</div>
<div class="card-box card-box-password">
    <div class="text-password">
    <h2>Trocar Senha</h2>
    <p>Senha atual:</p>
    <div class="input-wrapper small-input">
        <input type="search" name="senha" placeholder="Digite sua senha atual">
        <span class="material-icons-round">lock</span>
    </div>
    <p>Senha nova:</p>
    <div class="input-wrapper small-input">
        <input type="search" name="senha" placeholder="Mínimo de 5 caracteres">
        <span class="material-icons-round">lock</span>
    </div>
    </div>
    <div class="button-password">
        <button class="btn btn-empty">
            <span class="material-icons-round">cancel</span>
            <p>Cancelar</p>
        </button>
        <button class="btn btn-full">
            <span class="material-icons-round">check_circle</span>
            <p>Trocar</p>
        </button> 
    </div>
</div>
{% endblock %}