.card-box-profile, .card-box-password{
    max-width: 675px;
    margin-top: 50px;
}

.card-box-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 50px;
    gap: 1.5em;
}

.card-img{
    float: left;
    font-size: var(--extra-big-icon);
}


.card-div-right{
    display: flex;
    flex-direction: column;
    gap: 1.7em;
}

.texts p{
    font-size: var(--p-font-size);
    color: var(--primary-text-color);
    font-weight: var(--semi-bold);
    white-space: nowrap;
}

.texts h2{
    font-size: var(--h3-font-size);
    color: var(--primary-text-color);
    font-weight: var(--bold);
    text-transform: capitalize;
}

.texts h4{
    margin-top: 0.5em;
    font-size: var(--h4-font-size);
    color: var(--secondary-text-color);
    font-weight: var(--bold);
    white-space: nowrap;
}


.text-password h1{
    font-size: var(--h2-font-size);
    color: var(--primary-text-color);
    font-weight: var(--bold);
}

.text-password p{
    margin-top: 2em;
    font-size: var(--p-font-size);
    color: var(--primary-text-color);
    font-weight: var(--bold);
}

.button-password{
    display: flex;
    gap:1.5em;
    margin-top: 2em;
    align-items: center;
    justify-content: flex-end;
}

@media screen and (max-width: 1200px){
    .card-box-profile{
        gap:0;
    }
    
}