.create-btn-box{
    display: flex;
    margin-top: 1.2em;
    margin-bottom: 4em;
    align-items: center;
}

.create-btn-box button{
    width: 100%;
    justify-content: center;
}

.popup-editar{
    padding: 30px;
    width: 700px;
}

.content-popup-editar h2{
    font-size: var(--h2-font-size);
    font-weight: var(--bold);
    line-height: var(--h2-font-size);
}

.content-popup-editar p{
    margin-top: .7em;
    margin-bottom: 0.2em;
    font-size: var(--h3-font-size);
    color: var(--primary-text-color);
    font-weight: var(--semi-bold);
}

.content-popup-editar textarea{
    width: 100%;
    min-height: 150px;
    resize: none;
}

.bottom-popup{
    display: flex;
    justify-content: space-between;
    padding-top: 1.5em;
    gap: 1rem;
}

.icons-popup{
    gap: 0.5em;
    display: flex;
    align-items: center;
}

.icons-popup span{
    font-size: var(--medium-icon);
    color: var(--faded-icon-color);
}

.separator{
    width: 3px;
    height: 75%;
    background-color: var(--faded-icon-color);
    border-radius: 3px;
}

#deletar{
    display: flex;
}

#arquivar{
    display: none;
}

.attach-icon{
    background: none;
    font-size: var(--medium-icon);
    cursor: pointer;
}

.attach-icon:hover + .attach-icon-div{
    opacity: 1;
}

.attach-icon-div{
    width: 200px;
    height: 50px;
    background-color: var(--card-bg-color);
    position: absolute;
    left: -80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms ease-in-out;
}
.attach-icon-div p{
    font-weight: var(--semi-bold);
}
