{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='style/arquivos.css')}}">
{% endblock %}

{% block title %}Arquivos{% endblock %}

{% block main_text %}ARQUIVOS{% endblock %}
{% block main %}
{% for post in posts %}

<div class="card-box">
  <h2 class="title-text">{{ post.titulo }}</h2>
  <div class="text-title-area">
    <h3 class="sender-name">{{ remetente(post.user_id) }}</h3>
    <div class="send-date">
      <p class="hour">{{ post.data.strftime('%H:%M') }}</p>
      <p class="date">{{ post.data.strftime('%d/%m/%Y') }}</p>
    </div>
  </div>
  <div class="text-area text-area--short">
    <p>{{ post.texto }}</p>
  </div>
  <div class="bottom-buttons">
    <button class="F-btn btn btn-full" onClick="abrirPopup({{ post.id }})">
      <span class="material-icons-round">more_horiz</span>
      <p>Ler mais</p>
    </button>
    <span class="material-icons-round card-icon">
      attach_file
    </span>
  </div>
</div>

{{ modal_lermais(post, remetente(post.user_id) ,remetente_nome(post.user_id)) }}

{% endfor %}
{% endblock %}