{% from '_render_field.html' import render_field %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='style/base.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='style/base-login.css')}}">
  <title>{% block title %}Base-Login{% endblock %}</title>
  {% block head %}
  <link rel="stylesheet" href="{{url_for('static', filename='style/login.css')}}">
  {% endblock %}
</head>

<body>
  <header class="login-main-header">
    <div class="login-header-wrapper">
      <div class="main-logo">
        <a href="/login">
          <svg xmlns="http://www.w3.org/2000/svg" width="99" height="56" viewBox="0 0 99 56">
            <text id="SJC" transform="translate(99 49)" fill="#c62f45" font-size="24"
              font-family="SourceSansPro-Bold, Source Sans Pro" font-weight="700">
              <tspan x="-39.096" y="0">SJC</tspan>
            </text>
            <text id="FATEC" transform="translate(87 31)" font-size="32"
              font-family="SourceSansPro-Black, Source Sans Pro" font-weight="800">
              <tspan x="-86.592" y="0">FATEC</tspan>
            </text>
          </svg>
        </a>
      </div>
      <nav class="login-header-nav">
        <a href="/register">
          <button class="btn btn-empty btn-header">
            <span class="material-icons-round">
              account_circle
            </span>
            <p>Criar conta</p>
          </button>
        </a>
      </nav>
    </div>
  </header>
  <main class="main-login">
    <div class="login-wrapper">
      <form action="{% block form %}{% endblock %}" method="POST" novalidate>
        {{ form.csrf_token }}
        <h1 class="login-title">{%block loginTitle %}Bem vindo{% endblock %}</h1>
        <h3 class="login-subtitle">{%block loginSub %}Entre com seu email da fatec{% endblock %}</h3>

        {% with messages = get_flashed_messages(category_filter=["info"]) %}
        {% if messages%}
        <div class=flashes>
          {% for message in messages %}
          <div class="login-subtitle" style="color:green">{{ message }}</div>
          {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        {% with messages = get_flashed_messages(category_filter=["erro"]) %}
        {% if messages%}
        <div class=flashes>
          {% for message in messages %}
          <div class="login-subtitle" style="color:red">{{ message }}</div>
          {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        {% block login %}
        {% endblock %}
        <button type="submit" value="enviar" class="btn btn-full btn-login">
          {% block btnlink %}
          <p>{% block btnTitle %}Entrar{% endblock %}</p>
          {% endblock %}
        </button>
        {% block cadastrar %}
        {% endblock %}
      </form>
    </div>
  </main>
  <footer class="footer-login">
    <div class="login-footer-wrapper">
      <div class="copyright">
        <p>@2021 - FatecSJC - Todos os direitos reservados</p>
      </div>
      <nav class="footer-nav">
        <p>Política de privacidade</p>
        <p>Termos</p>
        <p>Contato</p>
      </nav>
    </div>
  </footer>

</body>
<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script src="{{url_for('static', filename='js/main.js')}}"></script>-->
<script src="https://unpkg.com/imask"></script>
<script src="{{url_for('static', filename='js/mask.js')}}"></script>

</html>