<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='style/base.css')}}">
  {% block head %}{% endblock %}
  <title>{% block title %}Base{% endblock %}</title>
</head>

<body>
  <div class="menu-wrapper">
    <div class="flex-nowrap">
      <nav class="main-nav">
        <div class="main-nav-items top-items">
          <button class="hamburger-menu">
            <span class="material-icons-round medium-icon ">menu</span>
          </button>
        </div>
        <div class="main-nav-items middle-items">
          <a href="/">
            <span class="material-icons-round medium-icon">warning</span>
            <div class="selection-bar is-selected"></div>
          </a>
          <a href="/arquivos">
            <span class="material-icons-round medium-icon">archive</span>
            <div class="selection-bar"></div>
          </a>
          {% if user_edit %}
          <a href="/editar">
            <span class="material-icons-round medium-icon">edit</span>
            <div class="selection-bar"></div>
          </a>
          {% endif %}
        </div>
        <div class="main-nav-items bottom-items">
          <a href="/config">
            <span class="material-icons-round medium-icon">settings</span>
            <div class="selection-bar"></div>
          </a>
          <a href="/logout">
            <span class="material-icons-round medium-icon">logout</span>
            <div class="selection-bar"></div>
          </a>
        </div>
        </ul>
      </nav>

      <div class="middle-box">
        <div class="middle-box-wrapper">
          {% block search %}
          <form action="" method="post">
            <div class="input-wrapper search-box">
              <input type="search" name="busca" placeholder="Busca">
              <span class="material-icons-round">search</span>
            </div>
          </form>
          {% endblock %}

          {% block btn_criar %}{% endblock %}
          <main class="base-main">
            <div class="main-text">{% block main_text %}INFORMATIVOS{% endblock %}</div>
            {% block main %}
            {% endblock %}
          </main>
        </div>
      </div>

      <div class="right-menu">
        <div class="filter-section">
          <h2 class="section-title filter-title">FILTRO</h2>
          <form action="" method="Post">
            {% if user_edit %}
            <div class="input-wrapper small-input">
              <input type="search" name="cursos" placeholder="Cursos">
              <span class="material-icons-round">search</span>
            </div>
            {% endif %}
            <div class="dropdown-wrapper">
              <div class="input-wrapper small-input">
                <select name="anexos" id="anexos">
                  <option value="" disabled selected>Anexos</option>
                  <option value="foto">Foto</option>
                  <option value="video">Video</option>
                  <option value="documento">Documentos</option>
                </select>
                <span class="material-icons-round">expand_more</span>
              </div>
              <div class="input-wrapper small-input">
                <select name="remetente" id="remetente">
                  <option value="" disabled selected>Remetente</option>
                  <option value="diretor">Diretor</option>
                  <option value="secretaria">Secretaria</option>
                  <option value="professor">Professor</option>
                </select>
                <span class="material-icons-round">expand_more</span>
              </div>
            </div>
            <div class="input-wrapper small-input">
              <input type="date" name="data" placeholder="Dia/Mes/Ano">
              <span class="material-icons-round">today</span>
            </div>
            <button class="btn btn-empty" style="justify-content: center;" value="Filtrar">
              <span class="material-icons-round">archive</span>
              <p>Filtrar</p>
            </button>
            <!-- <div class="input-wrapper small-input">
              <select name="envio" id="envio">
                <option value="" disabled selected>Data de envio</option>
                <option value="foto">Última hora</option>
                <option value="video">Hoje</option>
                <option value="documento">Esta semana</option>
                <option value="documento">Este mês</option>
                <option value="documento">Este ano</option>
              </select>
              <span class="material-icons-round">expand_more</span>
            </div> -->
          </form>
        </div>

        <div class="notifications-section">
          <h2 class="section-title notifications-title">Notificações</h2>
          <div class="notifications-wrapper">
            <span class="material-icons-round big-icon">notifications_active</span>
            <div class="notifications-text">
              <h3>Notificações via app:</h3>
              <p>Desativado</p>
            </div>
            <div class="redondinho">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="{{url_for('static', filename='js/main.js')}}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
<script>
  $('#select').chosen({ width: "100%", no_results_text: "Nada encontrado!", placeholder_text: "Aluno, Professor..." });
  //$('.chosen-search-input').val("Aluno, Professor...")
</script>

</html>