{% extends 'base-login.html' %}

{% block title %}Finalizar Cadastro{% endblock %}

{%block loginTitle %}Finalize seu cadastro{% endblock %}
{%block loginSub %}Para finalizar seu cadastro selecione o(s) papel(is) em que atua e o(s) curso(s) os quais você
leciona.{% endblock %}

{% block form %}{{ url_for('auth.cursofuncionario') }} {% endblock %}

{% block login %}
<div class="login-input registrar-input">
  {{ render_field(form.curso, 'badge') }}

</div>
{% endblock %}

{% block btnTitle %}Finalizar Cadastro{% endblock %}