{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='style/editar.css')}}">
{% endblock %}

{% block title %}Editar{% endblock %}

{% block btn_criar %}

<div class="create-btn-box">
    <button class="btn btn-full btn-popup" id="btnpop">
        <span class="material-icons-round">add</span>
        <p>Criar novo informativo</p>
    </button>
</div>
<div class="page-wrapper" id="popup">
    <div class="popup-bg" id="popupBg"></div>
    <div class="popup popup-editar">
        <form action="{{ url_for('view.edit') }}" method="POST">
            <div class="content-popup-editar">
                <h2>Novo Informativo</h2>
                <p>Enviar para:</p>
                <div class="input-wrapper small-input">
                    <input type="text" name="recebido" placeholder="Aluno, Professor...">
                    <span class="material-icons-round">person_add</span>
                </div>
                <p>Assunto:</p>
                <div class="input-wrapper small-input">
                    <input type="text" name="assunto" placeholder="Título da menssagem">
                    <span class="material-icons-round">subtitles</span>
                </div>
                <p>Corpo da menssagem:</p>
                <div class="input-wrapper small-input textarea-wrapper">
                    <textarea name="texto" placeholder="Título da menssagem"></textarea>
                    <span class="material-icons-round">subtitles</span>
                </div>
            </div>
            <div class="bottom-popup">
                <div class="icons-popup">
                    <button><span class="material-icons-round">format_bold</span></button>
                    <button><span class="material-icons-round">format_underlined</span></button>
                    <button><span class="material-icons-round">format_italic</span></button>
                    <div class="separator"></div>
                    <button><span class="material-icons-round">attach_file</span></button>
                    <button><span class="material-icons-round">image</span></button>
                    <button><span class="material-icons-round">folder</span></button>
                </div>
                <button class="btn btn-full">
                    <span class="material-icons-round">send</span>
                    <p>Enviar</p>
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block main_text %}SEUS INFORMATIVOS{% endblock %}

{% block main %}
{% for post in posts %}
<div class="card-box">
    <h2 class="title-text">{{ post.assunto }}</h2>
    <div class="text-title-area">
        <h3 class="sender-name">{{ post.remetente }}</h3>
        <div class="send-date">
            <p class="hour">{{ post.data.strftime('%H:%M') }}</p>
            <p class="date">{{ post.data.strftime('%d/%m/%Y') }}</p>
        </div>
    </div>
    <div class="text-area">
        <p>{{ post.texto }}</p>
    </div>
    <div class="bottom-buttons">
        <button class="btn btn-full">
            <span class="material-icons-round">more_horiz</span>
            <p>Ler mais</p>
        </button>
        <button class="btn btn-empty" onClick="deletarPost({{ post.id }})">
            <span class="material-icons-round">delete</span>
            <p>Excluir</p>
        </button>
        <span class="material-icons-round card-icon">
            attach_file
        </span>
    </div>
</div>
{% endfor %}
{% endblock %}