<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='style/base.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='style/base-login.css')}}">
  <style>
    body {
      background-color: white;
    }
  </style>
</head>

<body>
  <form action="/select" method="POST">
    <div class="input-wrapper small-input">
      {{ form.select }}
      <span class="material-icons-round">expand_more</span>
    </div>
  </form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
<script>
  $('#select').chosen();
</script>

</html>