{% extends 'base.html' %}

{% block title %}Home{% endblock %}


{% block main_text %}INFORMATIVOS{% endblock %}


{% block main %}
<link rel="stylesheet" href="{{url_for('static', filename='style/home.css')}}">
{% for post in posts %}

<div class="card-box">
  <h2 class="title-text">{{ post.titulo }}</h2>
  <div class="text-title-area">
    <h3 class="sender-papel">{{ remetente(post.user_id) }}</h3>
    <div class="send-date">
      <p class="hour">{{ post.data.strftime('%H:%M') }}</p>
      <p class="date">{{ post.data.strftime('%d/%m/%Y') }}</p>
    </div>
  </div>
  <div class="text-area text-area--short">
    <p>{{ post.texto }}</p>
  </div>
  <div class="bottom-buttons">
    <button class="F-btn btn btn-full" onClick="abrirPopup({{ post.id }})">
      <span class="material-icons-round">more_horiz</span>
      <p>Ler mais</p>
    </button>
    <button class="F-btn btn btn-empty" onClick="arquivarPost({{ post.id }})">
      <span class="material-icons-round">archive</span>
      <p>Arquivar</p>
    </button>
    {% if post.image %}
    <span class="material-icons-round card-icon">
        attach_file
    </span>
    {% endif %}
  </div>
</div>

{{ modal_lermais(post, remetente(post.user_id) ,remetente_nome(post.user_id)) }}

{% endfor %}
{% endblock %}


{% block remetente %}
<div class="input-wrapper small-input">
  {{ form.select }}
  <span class="material-icons-round">expand_more</span>
</div>
{% endblock %}