{% extends 'base-login.html' %}

{% block title %}Registrar{% endblock %}

{%block loginTitle %}Registrar{% endblock %}
{%block loginSub %}Crie uma conta com seu email fatec{% endblock %}

{% block form %}{{ url_for('auth.register') }} {% endblock %}

{% block login %}
<div class="login-input registrar-input">
  {{ render_field(form.email, 'email') }}
  {{ render_field(form.cpf, 'badge') }}
  {{ render_field(form.nome, 'person') }}
  {{ render_field(form.senha, 'lock') }}
  {{ render_field(form.confirm, 'lock') }}
</div>
{% endblock %}

{% block btnTitle %}Criar conta{% endblock %}