.topicoTempo1, .topicoTempo2, .topicoTempo3 {
    left: 5px;
    position: relative;
    letter-spacing: 2px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif, bold;
}

.topicoTempo1 {
    top: 190px;
}

.topicoTempo2 {
    top: 180px;
}

.topicoTempo3 {
    top: 180px;
}

.remetente, .data{
    top: 28px;
    right: 2px;
    position: absolute;
    font-family: 'Roboto', sans-serif, bold;
}

.remetente {
    left: 220px;
}
.data{
    right: 20px;
}

