.card-box-profile, .card-box-password{
    width: 615px;
    margin-top: 50px;
}

.card-img span{
    float: left;
    font-size: var(--extra-big-icon);
}

.card-div-right{
    display: flex;
    flex-direction: column;
    margin-top: 1.7em;
    padding-left: 1em;
}

.texts p{
    font-size: var(--p-font-size);
    color: var(--primary-text-color);
    font-weight: var(--semi-bold);
    white-space: nowrap;
}

.texts h2{
    font-size: var(--h3-font-size);
    color: var(--primary-text-color);
    font-weight: var(--bold);
    white-space: nowrap;
}

.texts h4{
    margin-top: 0.5em;
    font-size: var(--h4-font-size);
    color: var(--secondary-text-color);
    font-weight: var(--bold);
    white-space: nowrap;
}

.button-img{
    display: flex;
    gap:1.5em;
    margin-top: 2em;
    align-items: center;
    justify-content: space-between;
}

.text-password h1{
    font-size: var(--h2-font-size);
    color: var(--primary-text-color);
    font-weight: var(--bold);
}

.text-password p{
    margin-top: 2em;
    font-size: var(--p-font-size);
    color: var(--primary-text-color);
    font-weight: var(--bold);
}

.button-password{
    display: flex;
    gap:1.5em;
    margin-top: 2em;
    align-items: center;
    justify-content: flex-end;
}