body{
    position: relative;
    background-color: #DFDFE2;
}

.center{
    top: 0px;
    width: 70%;
    height: 200%;
    position: absolute;
}

.feed{
    top: 0%;
    left: 15%;
    right: 15%;
    width: 70%;
    bottom: 0%;
    position: relative;
}

.topico{
    top: 12%;
    left: 0%;  
    right: 0%;
    color: #4E5056;
    position: absolute;
    line-height: 20px;
}


.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 0;
}
.user > span{
    font-size: 15vw;
}

.card1{
    top: 180px;
    width: 100%;
    height: 350px;
    border-radius: 10px;
    background-color: White;
    position: relative;
    display: flex;
    gap: 20px;
    align-items:center;
    padding: 30px;
    box-sizing: border-box;
}

.user-info{
    flex: 2 1 0;
    display: flex;
    flex-direction: column;
    gap:5px
}

.card2{
    top: 230px;
    width: 100%;
    height: 450px;
    border-radius: 10px;
    background-color: White;
    position: relative;
}


.titulo{
    top: 10%;
    left: 5%;
    position: absolute;
}

.barra{
    top: 25%;
    left: 3%;
    bottom: 31%;
    width: 0.6%;
    background-color: #DFDFE2;
    position: absolute;
}

.texto{
    top: 40%;
    left: 45%;
    width: 50%;
    bottom: 41%;
    position: absolute;
    height: 113px;
}

.btn-edita{
    background-color: White;
    border: 5px #DC6A7B;
    border-radius: 5px;
    border-style: solid;
    height: 50px;
}

.btn_cancelar{
    right: 33%;
    bottom: 6%;
    width: 24%;
    height: 13%;
    left:auto;
    background-color: White;
    border: 5px #DC6A7B;
    border-radius: 5px;
    border-style: solid;
    position: absolute;
}

.btn_trocar_senha{
    right: 7.1%;
    bottom: 6%;
    width: 24%;
    height: 13%;
    left:auto;
    background-color: #C62F45;
    border: 5px #C62F45;
    border-radius: 5px;
    border-style: solid;
    position: absolute;
}


.senhatxt1{
    top: 26%;
    left: 5%;
    position: absolute;
}

.senhatxt2{
    top: 50%;
    left: 5%;
    position: absolute;
}


.senha1{
    top: 32%;
    left: 4.5%;
    width: 88%;
    height: 12%;
    position: absolute;
}

.senha11{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-color: #BFC0C5;
    border-style: solid;
    text-indent: 15px;
    font-size: 1.3em;
    color: #BFC0C5;
    position: absolute;
}

.senha2{
    top: 56%;
    left: 4.5%;
    width: 88%;
    height: 12%;
    position: absolute;
}

.senha22{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-color: #BFC0C5;
    border-style: solid;
    text-indent: 15px;
    font-size: 1.3em;
    color: #BFC0C5;
    position: absolute;
}

