.create-btn-box{
    display: flex;
    margin-top: 1.2em;
    margin-bottom: 4em;
    align-items: center;
}

.create-btn-box button{
    width: 100%;
    justify-content: center;
}

.popup-editar{
    padding: 30px;
    width: 700px;
}

.content-popup-editar h2{
    font-size: var(--h2-font-size);
    font-weight: var(--bold);
    line-height: var(--h2-font-size);
}

.content-popup-editar p{
    margin-top: .7em;
    margin-bottom: 0.2em;
    font-size: var(--h3-font-size);
    color: var(--primary-text-color);
    font-weight: var(--semi-bold);
}

.content-popup-editar textarea{
    width: 100%;
    min-height: 150px;
    resize: none;
}

.bottom-popup{
    display: flex;
    justify-content: space-between;
    padding-top: 1.5em;
}

.icons-popup{
    gap: 0.5em;
    display: flex;
    align-items: center;
}

.icons-popup span{
    font-size: var(--medium-icon);
    color: var(--faded-icon-color);
}

.separator{
    width: 3px;
    height: 75%;
    background-color: var(--faded-icon-color);
    border-radius: 3px;
}