.feed-section{
    display: flex;
    flex-direction: column;
    gap: 20px; 
    margin-right: 5%;
    margin-left: 15%;
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif, bold;
}

.topico_enviar{
    margin-top: 10%;
    color: #4E5056;
    position: relative;
    flex-direction: column;
    display: flex;
}

.card_edicao{
    width: 100%;
    height: 350px;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: White;
    position: relative;
    flex-direction: column;
    display: flex;
    padding: 25px;
    box-sizing: border-box;
}

.ferramentas_top{
    top: 0%;
    width: 100%;
    height: 50px;
    align-items: center;
    position: relative;
    flex-direction: row;
    display: flex;
}

.text_assunto{
    font-size: 25px;
    flex: 1;
    border: none;
}


.ferramentas_top a{
    color: #898C94;
    text-decoration: none;
    margin: 1px;
}

.ferramentas_btns_1{
    border-color: transparent;
    height: 32px;
    border-left: #BFC0C5 2px;
    border-right: #BFC0C5 2px;
    border-radius: 5px;
    border-style: solid;
    display: flex;
    flex-direction: row;
    position: relative;
}

.ferramentas_btns_2{
    display: flex;
    flex-direction: row;
    position: relative;
}

.ferramentas_btn_envia{
    justify-self: flex-end;
    position: relative;
    margin-left: 50px;
}

.texto_editar{
    height: 80%;
    text-indent: 0%;
    font-size: 20px;
    resize: none;
    border-style: none;
    border-color: transparent;
    display: flex;
    position: relative;
}

.topico_seus_informes{
    color: #4E5056;
    display: flex;
    flex-direction: column;
    position: relative;
}

.topicoTempo1, .topicoTempo2{
    top: 0px;
}

.ticket, .ticket2{
    top: 0px;
    margin-bottom: 15px;
    position: relative;
    flex-direction: column;
    display: flex;
}