*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.header{
    display: flex;
    min-height: 8vh;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
    box-shadow: 0px 3px 5px 0px rgba(184, 175, 184, 0.514);
    background: white;
}
body{
    background: #f4f4f5;
}
.fatec_logo{
    margin-right: 60%;
    line-height: 0.743;
}
.fatec_logo h2{
    color: #C62f45;
    text-align: end;
}
.fatec_newuser{
    font-size: 20px;
}
.fatec_newuser button{
    border: 1px solid #dc6a7b;
    background-color: white;
    color: #dc6a7b;
    border-radius: 10%;
    padding: 10px;
    width: 125px;
    transition: 0.3s;
}
.fatec_newuser button:hover{
    color: white;
    background-color: #C62f45;
}
.caixa_central{
    border: 1px solid black;
    background: white;
    border-radius: 10px;
    height:  500px;
    width: 450px;
    margin: auto;
    margin-top: 5%;
}
.caixa_login{
    align-items: center;
    margin: auto;
    margin-top: 50px;
}
.caixa_login h3{
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    
}
.logue-se{
    color: gray;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
.caixa_login button[type="siga"]{
    border: 3px solid #C62f45;
    border-radius: 5px;
    color: #C62f45;
    font-weight: bold;
    background: none;
    display: block;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    width: 300px;
    transition: 0.3s;
}
.caixa_login button:hover{
    color: white;
    background-color: #C62f45;
}
.caixa_login input[type="email"],.caixa_login input[type="password"]{
    border: 1px solid rgb(134, 134, 134);
    border: 1px solid rgba(134, 134, 134, 0.726);
    background: none;
    display: block;
    margin: auto;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    text-align: center;
    outline: none;
    
}
.caixa_login h2{
    color: black;
    text-indent: 19%;
    font-size: 20px;
}
.senha{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    font-weight: bold;
    align-items: center;
}
.help_pass{
    font-size: 10px;
    color: #C62f45;
    text-transform: uppercase;
}
.caixa_login input[type="submit"]{
    background-color: #C62f45;
    color: white;
    display: block;
    margin: auto;
    border: 1px solid #C62f45;
    padding: 5px;
    width: 300px;
    border-radius: 5px;
    font-size: 25px;
    transition: 0.3s;
}
.caixa_login input[type="submit"]:hover{
    color: white;
    background-color: #fc0026;
}
footer{
    position: absolute;
    bottom: 0;
    background: white;
    width: 100%;
    height: 35px;
    align-items: center;
    display: inline-flex;
    justify-content: space-around;
}
footer h3, .links a{
    color: #4e5056;
    font-size: 15px;
}
.links{
    width: 500px;
    display: inline-flex;
    justify-content: space-around;
    font-weight: bold;
}
.links p:hover{
    color: #C62f45;
}
a {
    text-decoration: none;
}