/*Registrar área*/
.fatec_newuser{
    margin-right: 5%;
    color: #4E5056;
    font-weight: bold;
}
/*Conteudo main*/
.central-div-controll{
    width: 100vw;
    height: 100vh;
    background: #f4f4f5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.login-div{
    background: #fff;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.37);
    box-shadow: 0px 3px 5px 0px rgb(46, 45, 45);
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.login-form-div{
    height: 75%;
    width: 75%;
    color: #4E5056;
}
.login-form-div h1{
    text-align: center;
    line-height: 1em;
    font-size: 3.5em;
}
.login-form-div h3{
    display: block;
    font-size: 15px;
    width: 100%;
    text-align: center;
    margin: -0.5em 0 1.5em 0;
    color: #898C94;
}
.login-form-div p{
    font-size: 20px;
}
.senha-div a{
    color: #C62F45;
    font-size: 13px;
}
.senha-div{
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}
/*Botão*/
.fatec_newuser input[type="submit"]{
    width: 150px;
    height: 2.5em;
    background: none;
    border: 3px solid #DC6A7B;
    color: #DC6A7B;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    margin-left: 0.5em;
    cursor: pointer;
    transition: 0.5s;
}
.fatec_newuser input[type="submit"]:hover{
    color: white;
    background-color: #da354e;
    border-color: #da354e;
    cursor: pointer;
}
.login-form-div input[type="button"]{
    border: 2px solid  #DC6A7B;
    border-radius: 5px;
    color: #DC6A7B;
    background: none;
    width: 100%;
    height: 2.5em;
    margin: 1em 0;
    font-weight: bold;
    font-size: 1em;
    transition: 0.5s;
}
.login-form-div input[type="button"]:hover{
    color: white;
    background-color: #da354e;
    border-color: #da354e;
    cursor: pointer;
}
.login-form-div input[type="password"],.login-form-div input[type="email"]{
    height: 2.5em;
    width: 100%;
    background: none;
    border: 2px solid #BFC0C5;
    border-radius: 5px;
    text-indent: 2em;
    outline: 0;
    opacity: 50%;
}
.login-form-div input[type="password"]:hover,.login-form-div input[type="email"]:hover{
    opacity: 75%;
}
.login-form-div input[type="submit"]{
    width: 100%;
    height: 2.5em;
    background: #C62F45;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 5%;
    color: white;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}
.login-form-div input[type="submit"]:hover{
    background: #e60728;
}