.sucesso{
    width: 100vw;
    height: 100vh;
    background: #f4f4f5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sucesso-div{
    background: #fff;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.37);
    box-shadow: 0px 3px 5px 0px rgb(46, 45, 45);
    width: 450px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.btn-medio input[type="button"]{
    width: 175px;
    height: 2.5em;
    background: #C62F45;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.sucesso h1{
    font-size: 3em;
    color: #4E5056;
}
.sucesso span{
    margin: 0em 0em 1.5em 0em;
    color: #898C94;
}
body{
    background: #f4f4f5;
}