.sucesso{
    text-align: center;
    margin: auto;
    margin-top: 300px;
    line-height: 50px;
}
.btn-medio input[type="button"]{
    background: #C62F45;
    color: white;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    font-size: 20px;
}
.sucesso h1{
    font-size: 50px;
    color: #4E5056;
}
.sucesso span{
    color: #898C94;
}
body{
    background: #f4f4f5;
}