<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digite o código</title>
    <link rel="stylesheet" href="../static/style/global.css">
    <link rel="stylesheet" href="../static/style/digitecod.css">
</head>
<body>
    <header class='header'>
        <div class="fatec_logo">
            <h1>Fatec</h1>
            <h2>SJC</h2>
        </div>
    </header>    
   <Main>
       <div class='central-div-controll'>
         <div class="digcod">
          <h1>Digite o código</h1>
           <h2>---Enviamos um código para seu email---</h2>
            <div class=formdiv>
                <h3>Código:</h3>
           <form class='codigo'>
            <input type="number" name="" id="" placeholder=''>
            <input type="number" name="" id="" placeholder=''>
            <input type="number" name="" id="" placeholder=''>
            <input type="number" name="" id="" placeholder=''>
            <input type="number" name="" id="" placeholder=''>
            <input type="number" name="" id="" placeholder=''>
           </form>
              <a href="google.com"><input type="button" value="Enviar Código"></a>
            </div>
          </div>
       </div>
   </Main> 
   <footer>
    <h3>@2021 - Fatec-SJC - Todos os direitos reservados</h3>
    <div class="links">
        <a href=""><p>Termos</p></a>
        <a href=""><p>Politica de Privacidade</p></a>
        <a href=""><p>Contatos</p></a>
    </div>
</footer>

</body>
</html>