<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digite o código</title>
    <link rel="stylesheet" href="Digite o código - estilos.css">
</head>
<body>
    <header class='header'>
        <div class="logo_fatec">
            <h1>Fatec</h1>
            <h2>SJC</h2>
        </div>
    </header>    
   <Main>
    <div class="digcod">
        <h1>Digite o código</h1>
        <h2>---Enviamos um código para seu email---</h2>
        <h3>Código:</h3><br>
        <form class='codigo'>
            
            <input type="number" name="" id="" placeholder='0'>
            <input type="number" name="" id="" placeholder='1'>
            <input type="number" name="" id="" placeholder='2'>
            <input type="number" name="" id="" placeholder='3'>
            <input type="number" name="" id="" placeholder='4'>
            <input type="number" name="" id="" placeholder='5'>
        </form>
        
    </div>
   </Main> 

</body>
</html>