<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!--Fontes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">
    <!--Fontes-->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style/login.css">
    <title>Login Fatec</title>

</head>
<body>
    <header class="header">
        <div class="fatec_logo">
            <h1>Fatec</h1>
            <h2>SJC</h2>
        </div>
        <div class="fatec_newuser">
            <form action="">
            <p>Novo aqui? <button type="submit" formaction="https://www.google.com" >Crie Uma conta</button></p>
            </form>
        </div>
    </header>
    <main>
        <div class="caixa_central">
            <div class="caixa_login">
                <h3>Entrar</h3>
                <form action="">
                    <!--Entrar com Siga-->
                    <button formaction="#" type="siga" >Entrar com uma conta SIGA</button><br>
                    <!--Email-->
                    <p class="logue-se"> ------ Logue-se com o Email ------ </p>
                    <h2>E-mail:</h2>
                    <input type="email" id="email" name="email" placeholder="exemplo@fatec.sp.gov.br"><br>
                    <!--Senha-->
                    <div class="senha">
                        <h2>Senha:</h2>
                        <a href=""> <p class="help_pass">esqueceu a senha?</p> </a>
                    </div>
                    <input type="password" id="password" placeholder="Minimo de 5 caracteres" name="password"><br><br>
                    <a href="main.html"><input type="submit" value="Entrar"></a>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <h3>@2021 - Fatec-SJC - Todos os direitos reservados</h3>
        <div class="links">
            <a href=""><p>Termos</p></a>
            <a href=""><p>Politica de Privacidade</p></a>
            <a href=""><p>Contatos</p></a>
        </div>
    </footer>
</body>
</html>