<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>MAIN</title>
</head>

<body>
    <div class="left">
        <div id="nav" class="">
            <span class="material-icons md-36 icon2">menu</span>
        </div>
        <div>
            <a href="main.html"><span class="material-icons md-36">warning</span></a>
            <a href="arquivos.html"><span class="material-icons md-36">archive</span></a>
            <a href="enviar.html"><span class="material-icons md-36">edit</span></a>
        </div>
        <div>
            <a href="config.html"><span class="material-icons md-36">settings</span></a>
            <a href="login.html"><span class="material-icons md-36">logout</span></a>
        </div>
    </div>
    <div id="menu" class="left-expanded">
        <div>
            <a href="main.html">
                <p>FatecSJC</p>
            </a>
        </div>
        <div>
            <a href="main.html">
                <p>Informativos</p>
            </a>
            <a href="arquivos.html">
                <p>Arquivos</p>
            </a>
            <a href="enviar.html">
                <p>Edit</p>
            </a>
        </div>
        <div>
            <a href="config.html">
                <p>Configurações</p>
            </a>
            <a href="login.html">
                <p>Sair</p>
            </a>
        </div>
    </div>
    <div class="center">
        <div class="feed">
            <div class="topico">
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<font size="91"><b>Informativos</b></font>
                <hr width="100%" align="center" color="#BFC0C5">
            </div>
            <div class="ticket">
                <div class="titulo">
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<font size="6" color="#4E5056"><b>Comunicado</b></font>
                </div>
                <div class="remetente">
                    <font size="3" color="#898C94"><b>- Secretaria</b></font>
                </div>
                <div class="data">
                    <font size="3" color="#4E5056"><b>11:25 - 02/10/2021</b></font>
                </div>
                <div class="barra"></div>
                <div class="texto">
                    <font size="3" color="#4E5056">Em linguística, a noção de texto é ampla e ainda aberta a uma
                        definição mais precisa. Grosso modo, pode ser entendido como manifestação linguística das ideias
                        de um autor, que serão interpretadas pelo leitor de acordo com seus conhecimentos linguísticos e
                        culturais. Seu tamanho é variável. O interesse pelo texto como objeto de estudo gerou vários
                        trabalhos importantes de teóricos da Linguística Textual, que percorreram fases diversas cujas
                        características principais eram transpor os limites da frase descontextualizada da gramática
                        tradicional e ainda incluir os relevantes papéis do autor e do leitor na construção de textos.
                    </font>
                </div>
                <button class="botao1">
                    <font color="#C62F45"><b>Ler mais</b></font>
                </button>
                <button class="botao2">
                    <font color="#C62F45"><b>✔ Ja visto</b></font>
                </button>
                <button class="download">
                    <span class="material-icons md-36">download</span>
                </button>
            </div>
            <div class="ticket2">
                <div class="titulo">
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<font size="6" color="#4E5056"><b>Comunicado</b></font>
                </div>
                <div class="remetente">
                    <font size="3" color="#898C94"><b>- Secretaria</b></font>
                </div>
                <div class="data">
                    <font size="3" color="#4E5056"><b>11:25 - 02/10/2021</b></font>
                </div>
                <div class="barra"></div>
                <div class="texto">
                    <font size="3" color="#4E5056">Em linguística, a noção de texto é ampla e ainda aberta a uma
                        definição mais precisa. Grosso modo, pode ser entendido como manifestação linguística das ideias
                        de um autor, que serão interpretadas pelo leitor de acordo com seus conhecimentos linguísticos e
                        culturais. Seu tamanho é variável. O interesse pelo texto como objeto de estudo gerou vários
                        trabalhos importantes de teóricos da Linguística Textual, que percorreram fases diversas cujas
                        características principais eram transpor os limites da frase descontextualizada da gramática
                        tradicional e ainda incluir os relevantes papéis do autor e do leitor na construção de textos.
                    </font>
                </div>
                <button class="botao1">
                    <font color="#C62F45"><b>Ler mais</b></font>
                </button>
                <button class="botao2">
                    <font color="#C62F45"><b>✔ Ja visto</b></font>
                </button>
                <button class="download">
                    <span class="material-icons md-36">download</span>
                </button>
            </div>
            <div class="ticket3">
                <div class="titulo">
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<font size="6" color="#4E5056"><b>Comunicado</b></font>
                </div>
                <div class="remetente">
                    <font size="3" color="#898C94"><b>- Secretaria</b></font>
                </div>
                <div class="data">
                    <font size="3" color="#4E5056"><b>11:25 - 02/10/2021</b></font>
                </div>
                <div class="barra"></div>
                <div class="texto">
                    <font size="3" color="#4E5056">Em linguística, a noção de texto é ampla e ainda aberta a uma
                        definição mais precisa. Grosso modo, pode ser entendido como manifestação linguística das
                        ideias
                        de um autor, que serão interpretadas pelo leitor de acordo com seus conhecimentos
                        linguísticos e
                        culturais. Seu tamanho é variável. O interesse pelo texto como objeto de estudo gerou vários
                        trabalhos importantes de teóricos da Linguística Textual, que percorreram fases diversas
                        cujas
                        características principais eram transpor os limites da frase descontextualizada da gramática
                        tradicional e ainda incluir os relevantes papéis do autor e do leitor na construção de
                        textos.
                    </font>
                </div>
                <button class="botao1">
                    <font color="#C62F45"><b>Ler mais</b></font>
                </button>
                <button class="botao2">
                    <font color="#C62F45"><b>✔ Ja visto</b></font>
                </button>
                <button class="download">
                    <span class="material-icons md-36">download</span>
                </button>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="filtro-section">
            <div class="topico2">
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<font size="6"><b>Filtros</b></font>
                <hr align="center" color="#BFC0C5">
            </div>
            <input class="input1" type="text" placeholder="🔍 Buscar">
            <div class="hora-anexo">
                <input class="input2" type="text" placeholder="🕒 HH:MM">
                <button class="filtro3">
                    <font>📎 ANEXO</font>
                </button>
            </div>
            <input class="input3" type="date">
            <div class="select-wrapper">
                <select id="remetente">
                    <option value="Remetente" selected>Remetente</option>
                    <option value="valor3">Valor 3</option>
                </select>
                <select id="ordem">
                    <option value="Ordem" selected>Ordem</option>
                    <option value="valor3">Valor 3</option>
                </select>
            </div>
        </div>
        <div class="notificacao-section">
            <div class="topico3">
                <h1>Notificações</h1>
                <hr align="center" color="#BFC0C5">
            </div>
            <div class="notification-toggle">
                <span class="material-icons md-64">notifications_active</span>
                <div class="textos">
                    <font size="3" color="#4E5056">Notificações por email:</font>
                    <font size="4" color="#4E5056">ATIVADO</font>
                </div>
                <div class="Check">
                    <div class="toggle">
                        <input type="checkbox" id="foo">
                        <label for="foo"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="../static/js/main.js"></script>

</html>