<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>MAIN</title>
</head>

<body>
    
        <div class="left">
            <img class="icon1" src="../static/style/imagens/Menu.png"></img>
            <button class="icon2"></button>
            <button class="icon3"></button>
            <button class="icon4"></button>
            <button class="icon5"></button>
            <button class="icon6"></button>
        </div>
        <div class="center">
            <div class="feed">
                <div class="topico">
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<font size="91"><b>Informativos</b></font>
                    <hr width="100%" align="center" color="#BFC0C5">
                </div>
                <div class="ticket">
                    <div class="titulo">
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<font size="6" color="#4E5056"><b>Comunicado</b></font>
                    </div>
                    <div class="remetente">
                        <font size="3" color="#898C94"><b>- Secretaria</b></font>
                    </div>
                    <div class="data">
                        <font size="3" color="#4E5056"><b>11:25 - 02/10/2021</b></font>
                    </div>
                    <div class="barra"></div>
                    <div class="texto">
                        <font size="3" color="#4E5056">Em linguística, a noção de texto é ampla e ainda aberta a uma definição mais precisa. Grosso modo, pode ser entendido como manifestação linguística das ideias de um autor, que serão interpretadas pelo leitor de acordo com seus conhecimentos linguísticos e culturais. Seu tamanho é variável. O interesse pelo texto como objeto de estudo gerou vários trabalhos importantes de teóricos da Linguística Textual, que percorreram fases diversas cujas características principais eram transpor os limites da frase descontextualizada da gramática tradicional e ainda incluir os relevantes papéis do autor e do leitor na construção de textos.</font>
                    </div>
                    <button class="botao1"><font color="#C62F45"><b>Ler mais</b></font></button>
                    <button class="botao2"><font color="#C62F45"><b>✔ Ja visto</b></font></button>
                    <button class="download"><font color="#C62F45" size="6"><b>⏏</b></font></button>
                </div><br><br><br>     
                <div class="ticket2">
                    <div class="titulo">
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<font size="6" color="#4E5056"><b>Comunicado</b></font>
                    </div>
                    <div class="remetente">
                        <font size="3" color="#898C94"><b>- Secretaria</b></font>
                    </div>
                    <div class="data">
                        <font size="3" color="#4E5056"><b>11:25 - 02/10/2021</b></font>
                    </div>
                    <div class="barra"></div>
                    <div class="texto">
                        <font size="3" color="#4E5056">Em linguística, a noção de texto é ampla e ainda aberta a uma definição mais precisa. Grosso modo, pode ser entendido como manifestação linguística das ideias de um autor, que serão interpretadas pelo leitor de acordo com seus conhecimentos linguísticos e culturais. Seu tamanho é variável. O interesse pelo texto como objeto de estudo gerou vários trabalhos importantes de teóricos da Linguística Textual, que percorreram fases diversas cujas características principais eram transpor os limites da frase descontextualizada da gramática tradicional e ainda incluir os relevantes papéis do autor e do leitor na construção de textos.</font>
                    </div>
                    <button class="botao1"><font color="#C62F45"><b>Ler mais</b></font></button>
                    <button class="botao2"><font color="#C62F45"><b>✔ Ja visto</b></font></button>
                    <button class="download"><font color="#C62F45" size="6"><b>⏏</b></font></button>
                </div><br><br><br>   
                <div class="ticket3">
                    <div class="titulo">
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<font size="6" color="#4E5056"><b>Comunicado</b></font>
                    </div>
                    <div class="remetente">
                        <font size="3" color="#898C94"><b>- Secretaria</b></font>
                    </div>
                    <div class="data">
                        <font size="3" color="#4E5056"><b>11:25 - 02/10/2021</b></font>
                    </div>
                    <div class="barra"></div>
                    <div class="texto">
                        <font size="3" color="#4E5056">Em linguística, a noção de texto é ampla e ainda aberta a uma definição mais precisa. Grosso modo, pode ser entendido como manifestação linguística das ideias de um autor, que serão interpretadas pelo leitor de acordo com seus conhecimentos linguísticos e culturais. Seu tamanho é variável. O interesse pelo texto como objeto de estudo gerou vários trabalhos importantes de teóricos da Linguística Textual, que percorreram fases diversas cujas características principais eram transpor os limites da frase descontextualizada da gramática tradicional e ainda incluir os relevantes papéis do autor e do leitor na construção de textos.</font>
                    </div>
                    <button class="botao1"><font color="#C62F45"><b>Ler mais</b></font></button>
                    <button class="botao2"><font color="#C62F45"><b>✔ Ja visto</b></font></button>
                    <button class="download"><font color="#C62F45" size="6"><b>⏏</b></font></button>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="topico2">
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<font size="6"><b>Filtros</b></font>
                <hr width="80%" align="center" color="#BFC0C5">
            </div>
            <div class="filtro1">
                <input class="input1" type="text" placeholder="🔍 Buscar">
            </div>
            <div class="filtro2">
                <input class="input2" type="text" placeholder="🕒 HH:MM">
            </div>
            <button class="filtro3">
                <font><b>📎 ANEXO</b></font>
            </button>
            <div class="filtro4">
                <input class="input3" type="date">
            </div>
            <div class="filtro5">
                <select class="select1" id="remetente">
                    <option value="Remetente" selected>Remetente</option>
                    <option value="valor3">Valor 3</option>
                </select>
            </div>
            <div class="filtro6">
                <select class="select2" id="remetente">
                    <option value="Remetente" selected>Ordem</option>
                    <option value="valor3">Valor 3</option>
                </select>
            </div>
            <div class="topico3">
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<font size="6"><b>Notificações</b></font>
                <hr width="80%" align="center" color="#BFC0C5">
            </div>
            <img class="icon7" src="../static/style/imagens/Notificação.png"></img>
            <div class="texto2"><font size="3" color="#4E5056">Notificações por email:</font></div>
            <!--<div class="texto3"><font size="4" color="#4E5056">ATIVADO</font></div>-->
        </div>

</body>

</html>