<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <!--Fontes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">
    <!--Fontes-->
    <title>Registrar-se</title>
    <link rel="stylesheet" href="../static/style/global.css">
    <link rel="stylesheet" href="../static/style/registrar.css">
</head>
<body>
    <header class="header">
        <div class="fatec_logo">
            <h1>Fatec</h1>
            <h2>SJC</h2>
        </div>
        <div class="fatec_user">
            <p>Já tem conta? <a href="login.html"><input type="button" value="Entrar"></a></p>
        </div>
    </header>
    <main>
        <div class="registrar-central-div">
            <div class="registrar-div">
                <h3>Registre-se</h3>
                <div class="registrar-div-itens">
                    <div class="registrar-form">
                        <form action="">
                            <p>Digite seu nome:</p>
                            <input type="text" name="" id="" placeholder="Digite seu nome aqui">
                            <p>Digite seu e-mail:</p>
                            <input type="email" name="" id="" placeholder="exemple@fatec.sp.gov.br">
                            <span>---Digite sua melhor senha---</span>
                            <p>Senha</p>
                            <input type="password" name="" id="">
                            <p>Digite novamente a senha</p>
                            <input type="password" name="" id="">
                            <a href="login.html"><input type="button" value="Concluir Cadastro"></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <h3>@2021 - Fatec-SJC - Todos os direitos reservados</h3>
        <div class="links">
            <a href=""><p>Termos</p></a>
            <a href=""><p>Politica de Privacidade</p></a>
            <a href=""><p>Contatos</p></a>
        </div>
    </footer>
</body>
</html>