<html lang="pt-br">
<head>
<!--Fontes-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">
<!--Fontes-->
<meta charset="UTF-8">
<link rel="stylesheet" href="../static/style/global.css">
<link rel="stylesheet" href="../static/style/sucesso.css">
<title>Sucesso</title>

</head>
<body>
    <header class="header">
        <div class="fatec_logo">
            <h1>Fatec</h1>
            <h2>SJC</h2>
        </div>
    </header>
    <main>
        <div class="sucesso">
            <div class="sucesso-div">
            <h1>Sucesso</h1>
                <span>---Senha Alterada---</span>
                <form class="btn-medio" action="">
                    <a href="Login.html"><input type="button" value="Voltar ao Login"></a> 
                </form>
            </div>
        </div>
    </main>
    <footer>
        <h3>@2021 - Fatec-SJC - Todos os direitos reservados</h3>
        <div class="links">
            <a href=""><p>Termos</p></a>
            <a href=""><p>Politica de Privacidade</p></a>
            <a href=""><p>Contatos</p></a>
        </div>
    </footer>
</body>
</html>